<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ICRS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<servlet-class>SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Sale</servlet-name>
  	<servlet-class>SaleController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Sale</servlet-name>
  	<url-pattern>/Sale</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Buy</servlet-name>
  	<servlet-class>BuyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Buy</servlet-name>
  	<url-pattern>/Buy</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Service</servlet-name>
  	<servlet-class>ServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Service</servlet-name>
  	<url-pattern>/Service</url-pattern>
  </servlet-mapping>
</web-app>